@use '../variables/variables' as *;

.Body {
  margin: 0 7rem;
  padding: 20px 0;
  
  // height: $main-height;

  // overflow-y: hidden;
  // overflow-x: hidden;

  position: relative;
  min-height: 100vh;

  @media only screen and (max-width: 821px) {
    margin: 0 2rem;
  }
}

.loading-container{
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
