.loading-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
   z-index: 9999; /* Ensure it is above other content */
 }
 
 .loading-image {
   max-width: 100px; /* Adjust the size of the loading image as needed */
 }

 .loading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);;
  height: 100vh;
 }